* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(2, 6, 23, 1);
  color: white;
}

.top-part {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("Background.png");
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  left: 20px;
  top: 0;
  border-bottom: 1px solid rgb(10, 20, 43);
  right: 20px;
  background-color: rgb(3, 6, 23);
}

.navbar > div:nth-child(2) {
  display: flex;
}

.navbar p {
  padding: 10px 20px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

.navbar button {
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.top-heading {
  width: 770px;
  margin: 127px auto 14px auto;
}

.top-heading h1 {
  font-family: Satoshi;
  font-size: 80px;
  font-weight: 900;
  line-height: 108px;
  text-align: center;
}

.top-heading h1 span {
  background: linear-gradient(94.68deg, #ff0276 2.51%, #7209b7 56.42%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-heading h1 + p {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: center;
}

.top-heading > div {
  width: 338.48px;
  display: flex;
  margin: 18px auto;
  align-items: center;
  justify-content: space-between;
}

.top-heading > div > button {
  background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);
  border: 0;
  padding: 10px 14px;
  border-radius: 20px;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  color: white;
}

.top-heading > div > button > span {
  margin-left: 42.68px;
}

.top-heading > div p {
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

#backed-by {
  width: 571.09px;
  margin: 90px auto;
  text-align: center;
}

#backed-by > div {
  margin-top: 73px;
  padding: 6px 41px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 661px;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07) 32.09%,
    rgba(217, 217, 217, 0.05) 116.98%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
}

#backed-by img {
  width: 138.09px;
  margin: a;
}

.qoute {
  font-family: Satoshi;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
  width: 944px;
  margin: auto;
  margin-top: 87px;
}

.qoute span {
  text-decoration: underline;
  color: #3f37c9;
}

#blockchain {
  padding: 24px 0px;
  width: 786px;
  margin: 114px auto;
}

#blockchain p {
  width: 768px;
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 900;
  line-height: 64.8px;
  text-align: center;
}

#blockchain > div {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blockchain > div > div img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 24px;
}

#blockchain span {
  color: #3f37c9;
}

.power-up {
  width: 864px;
  margin: auto;
}

.power-up h1 {
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 900;
  line-height: 64.8px;
  text-align: center;
}

.power-up p {
  width: 776px;
  margin: 12px auto 0px auto;
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: center;
}

.complexities {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  margin: 40px auto;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07) 32.09%,
    rgba(217, 217, 217, 0.05) 116.98%
  );
  border-radius: 32px;
  padding: 23px 80px;
}

.asset-star {
  width: 300px;
  aspect-ratio: 1/1;
}

.complexities h3 {
  font-family: Satoshi;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
  margin-bottom: 20px;
}

.complexities p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  margin-bottom: 20px;
}

.complexities p img {
  width: 32px;
}

.elevate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 87.77%;
  margin: auto;
  gap: 16px;
}

.elevate > div:nth-child(1) {
  display: flex;
  padding: 20px 31px;
}

.elevate > div:nth-child(1) > div:nth-child(1) h3 {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
}

.elevate > div:nth-child(1) > div:nth-child(1) p {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  margin-top: 15.57px;
  color: rgba(141, 150, 178, 1);
}

.elevate > div:nth-child(1) > div:nth-child(1) button {
  margin-top: 46.72px;
  border-radius: 20.15px;
  border: 0;
  padding: 8.06px 16.01px;
  font-family: Satoshi;
  font-size: 14.1px;
  font-weight: 700;
  line-height: 20.15px;
  letter-spacing: 0.251851886510849px;
  text-align: center;
}

.elevate > div:nth-child(1) img {
  transform: rotate(25deg);
}

.elevate > div:nth-child(2) h3 {
  background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Satoshi;
  font-size: 38px;
  font-weight: 900;
  line-height: 51.3px;
  text-align: left;
}

.elevate > div:nth-child(2) p {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
}

#right {
  display: flex;
  width: 542px;
  gap: 16px;
}

#right img {
  width: 253.14px;
  transform: rotate(25deg);
}

#right-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#right-left > div p {
  color: rgba(141, 150, 178, 1);

  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
}

#right-left > div {
  padding: 20px 31px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07) 32.09%,
    rgba(217, 217, 217, 0.05) 116.98%
  );
  border-radius: 32px;
}

#right > div:last-child {
  padding: 20px 31px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07) 32.09%,
    rgba(217, 217, 217, 0.05) 116.98%
  );
  border-radius: 32px;
  height: 300px;
}

#right > div:last-child h3 {
  font-family: Satoshi;
  background: linear-gradient(205.14deg, #3f37c9 30.04%, #4cc9f0 186.57%);
  font-size: 38px;
  font-weight: 900;
  line-height: 51.3px;
  text-align: left;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#right > div:last-child p {
  font-family: Satoshi;

  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: rgba(141, 150, 178, 1);
}

.product-suite h1 {
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 900;
  line-height: 64.8px;
  text-align: center;
  margin-top: 143px;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 87%;
  margin: auto;
}

.products-cards > div {
  padding: 45px 22px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(2, 6, 23, 0) 16.98%,
    rgba(2, 6, 23, 0.8) 66.5%
  );
}

.products-cards > div h2 {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 900;
  line-height: 32.4px;
  text-align: left;
  margin-top: 25px;
}

.products-cards > div p {
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  color: rgba(141, 150, 178, 1);
}

.fvrt-chain {
  width: 87.63%;
  margin: auto;
}

.fvrt-chain h1 {
  width: 699px;
  margin: auto;
  margin-top: 90px;
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 900;
  line-height: 64.8px;
  text-align: center;
}

.fvrt-chain h1 span {
  font-family: Satoshi;
  font-size: 48px;
  font-weight: 900;
  line-height: 64.8px;
  text-align: center;
}

.fvrt-chain > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 81.61;
  margin: 87px auto;
}

.blog{
  width: 87.77%;
  margin:auto; 
  padding: 0px 4%;
}

.blog h1{
  width: 699px;
  margin: auto;
font-family: Satoshi;
font-size: 48px;
font-weight: 900;
line-height: 64.8px;
text-align: center;

}

.blog > p{
  margin: auto;
  width: 638px;
font-family: Satoshi;
font-size: 24px;
font-weight: 700;
line-height: 32.4px;
text-align: center;

}

.blog > div{
  margin: 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blog > div > div > div{
  background-color: #1a143a;
padding: 20px 16px;
}
.blog > div img{
  width: 100%;
}

.blog h4{
  margin-bottom: 15px;
font-family: Satoshi;
font-size: 16px;
font-weight: 700;
line-height: 21.6px;
text-align: left;

}

.blog > div p{
font-family: Satoshi;
font-size: 14px;
font-weight: 700;
line-height: 18.9px;
text-align: left;
color: hsla(225, 19%, 63%, 1);
margin-bottom: 20px;

}

.blog > div button{
  padding: 12px 14px;
font-family: Satoshi;
font-size: 10px;
font-weight: 700;
line-height: 13.5px;
text-align: left;
background-color: white;
border: 0;
border-radius: 12px;

}